@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather:wght@300&family=Montserrat:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    
    background: #ffffff;
}

.header_inicio{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0)),url(../img/fondo.webp);
    background-size: cover;
    background-position:center ;
    /* background-size: 100%;
    background-repeat:no-repeat ; */
}
.nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    transition: all 0.5s ease; 
    z-index: 10;
}
h1, h2{
    font-size: 70pt;
    font-family: 'Lobster', cursive;
}
.filtro{
    text-align: center;
    padding: 200px 50px;
    padding-bottom: 50px;
    color: white ;
    text-decoration: none;
}

.checkbtn{
    line-height: 80px;
    float: right;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


.nav.active{
    background: #272727;
}
.nav.active .menu a{
    color: #fff;
    
}
.nav.active .menu a:hover{
    padding: 5px 10px;
    background: #fff;
    color: rgb(37, 76, 79);
    border-radius: 15px;
}


.menu{
    display: inline-flex;
}
.menu li{
    
    display: block;
    padding-top: 15px;
    list-style: none;
    margin: 10px;
    font-size: 17pt;
}
.menu li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}
.menu li a:hover{
    padding: 5px 10px;
    background: rgb(37, 76, 79);
    color: #fff;
    border-radius: 15px;
}


.bar_btn{
    margin-right: 20px;
    cursor: pointer;
}



/* banner */
.btnreserva{
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    background:rgb(37, 76, 79);
    /* rgb(81, 112, 114) */
    color: #fff;
}
.bannerpa{
    padding-top: 12%;
    display: flex;
    justify-content: center;
}
.banner{
    color: #ffffff;
    background: #272727;
    padding: 27px;
    border-radius: 10px;
    font-size: 15pt;
    display: flex;
    justify-content: center;
    box-shadow: 4px 4px 10px rgb(37, 76, 79);
}
.imglogo{
    margin-right: 4%;
}




/* Seccion Somos */

.video{
    border: 2PX solid rgb(37, 76, 79);
    border-top-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 20px;
    

}
.infsomos{
    padding: 25px;
    margin: 40px;
}

.tsomos{
    margin-top: 30px;
    font-size: 49pt;
    font-weight: bold;
    color: rgb(88, 152, 159);
    border-bottom: 7px solid #272727;
}
.lineah{
    width: 280px;
    height: 8px;
}
.psomos{
    font-size: 15pt;
    color: #272727;

}
.isomos{
    margin-left: 60px;
    border-radius: 10px;
    padding: 3px;
    border: solid;
    border-color: #0072BB;
}





/* servicios */
.imgfond{
    background-image: linear-gradient(#272727c1,#272727c1),url(../img/img7.jpg);
    background-size: cover;
    background-position:center ;

}
.servicio{
    margin-top: 70px;
    
}

.servicio h3{
    display: inline-block;
    position: static;
    font-size: 35pt ;
    font-weight: bolder;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 55px;
    color: rgb(255, 255, 255);
}
.servicio img, h4{
    margin: 15px;
    font: bolder;
}
.setcard1{
    height: 300px;
}
.setcard2{
    justify-content: center;
    height: 260px;
    padding-bottom: 300px;
}
.parrac{
    display: none;
} 
.cards{
    /* border:5px solid #0072BB;
    border-top-left-radius: 650px;
    border-top-right-radius: 600px;
    border-bottom-left-radius: 650px;
    border-bottom-right-radius: 650px; */
    
    height: 165px;
    margin: 10px;
    color: #fff;
    transition: all 0.5s;
    
} 
.cards2{
    /* border:5px solid #0072BB;
    border-top-left-radius: 650px;
    border-top-right-radius: 600px;
    border-bottom-left-radius: 650px;
    border-bottom-right-radius: 650px; */
    
    height: 165px;
    margin: 10px;
    color: #fff;
    transition: all 0.5s;
    
} 
.cards:hover {
    display: block;
    border:1px solid ;
    border-radius: 10px;
    height: 100%; 
}
.cards2:hover {
    display: block;
    border:1px solid ;
    border-radius: 10px;
    height: 270px; 
}
.cards:hover .parrac{
    display: block;
}
.cards2:hover .parrac{
    display: block;
}



/* * maps * */
.maps{
    margin: 0;
    background: #272727;
}


/* FOOTER */
.cfooter{
    padding: 10px;
    background: #272727;
    width: 100%;
}
.cfooter-logo{
    display: flex;
}
.cfooter p{
    margin-top: 27px;
    color: #fff;
} 
.redes{
    margin-top: 13px;
}
.imgredes{
    margin: 8px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(16deg) brightness(104%) contrast(101%);
}




@media screen and (max-width:900px){
    .logo{
        padding-top: 15px;
        padding-left: 20px;
    }
    .checkbtn{
        display: block;
    }
    .nav{
        background: #272727;
    }
    ul{
        top: 80px;
        position: fixed;
        width: 100%;
        padding-bottom: 30px;
        left: -100%;
        text-align: center;
        transition: all .5s;
     }

    nav ul li{
        display: none;
        margin: 50px 0px;
        padding-top: 15px;
        /* list-style: none;
        font-size: 17pt; */
        line-height: 30px;
    } 
    nav ul li a{
        font-size: 19pt;
    } 
    nav a:hover, li a.active{
        background: none;
        color: #fff;
    } 
    #check:checked ~ ul{
        left: 0;
    }
    .menu{
        background: #272727;
        display:list-item;
    }
    .menu li{
        margin-top: 20px;
    }
    .descrip{
        margin-left: 0;
    } 
    
    h1, h2 {
        font-size: 50pt;
    }
    .bannerpa{
        padding-top: 90px;
        display: flex;
        justify-content: center;
    }
    .infsomos {
        padding: 25px;
        margin: 0;
    }
    .servicio{
        width: 70%;
    }

    .setcard1{
        height: 270px;
    }
    .setcard2{
        margin-top: 600px;
        height: 270px;
    } 
    .cards{
        height: 100%;
        padding-bottom: 100px;
    }
    .cards2{
        height: 100%;
        padding-bottom: 270px;
    }
    
    .imgfond {
        background:linear-gradient(#272727c1,#272727c1) ;
        background-size: cover;
        background-position: center;
        height: 240%;
    }
}
